.backoffice {
  * {
    font-family: 'Roboto-Regular';
  }

  background-color: #dfdfdf;
  min-height: 100vh;

  #logoBO {
    margin: 40px 0px 20px 0px;
    position: relative;
  }

  &__h1 {
    font-size: 21px;
    margin: 10px;
    font-weight: bold;
  }

  &__header {
    background-color: $white;
  }

  &__button {
    i {
      margin-right: 20px;
    }
    color: $blackp !important;
    border-color: $blackp !important;
    margin-left: 10px;
  }

  &__button--white {
    background-color: $white !important;
  }

  .table-striped > tbody > tr:nth-child(2n + 1) > td,
  .table-striped > tbody > tr:nth-child(2n + 1) > th {
    background-color: $white;
  }

  .table-striped > tbody > tr:nth-child(2n) > td,
  .table-striped > tbody > tr:nth-child(2n) > th {
    background-color: $white-table;
  }

  .col-md-6 > .error-input {
    margin-top: -8px;
    margin-bottom: 14px;
  }

  form > .container {
    width: auto;
  }
}

.buttons-backoffice {
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  background-color: white;
  border: 0.5px solid darkgray;
  padding: 8px 8px;
  line-height: 1.42857143;
  user-select: none;
  font-weight: 700 !important;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  font-family: 'Roboto-Regular';
  font-size: 12px;
  margin: 10px;
}

.fas {
  margin-right: 5px;
}

.adj {
  margin-left: 20px;
}

.far {
  margin-right: 5px;
}

.link-button {
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  display: inline-block;
  text-decoration: underline;
  cursor: pointer;
  background-color: white;
  background: none !important;
  border: none;
  padding: 0 !important;
  font-weight: 700 !important;
  font-family: 'Roboto-Regular';
  font-size: 12px;
  margin-left: 10px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.float-right {
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  background-color: white;
  border: 0.5px solid darkgray;
  padding: 8px 8px;
  float: right !important;
  margin: 2% !important;
  margin-left: 0 !important;
  line-height: 1.42857143;
  user-select: none;
  font-weight: 700 !important;
  font-family: 'Roboto-Regular';
  font-size: 12px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.table-sm td,
.table-sm th {
  padding: 1.5rem;
}

@media only screen and (min-width: 990px) {
  .ttable {
    max-width: 100%;
    width: 100%;
    margin-bottom: 20px;
    color: #212529;
  }
  .trr {
    padding: 15px;
    text-align: center;
  }
  .thh {
    text-align: center !important;
    padding: 0% 2%;
  }
  .table-sm {
    padding: 15px;
  }
  .table-sm th {
    padding: 1.5em;
  }
  .table-sm td,
  .table-sm th {
    padding: 2rem;
  }
}
@media only screen and (max-width: 900px) {
  .ttable {
    max-width: 100% !important;
    margin: 0 auto !important;
    padding: 0 !important;
    text-align: left !important;
    align-content: left !important;
  }
  .buttons-backoffice {
    margin-bottom: 0;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    background-color: white;
    border: 0.5px solid darkgray;
    padding: 4px 4px;
    line-height: 1.42857143;
    user-select: none;
    font-weight: 700 !important;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    font-family: 'Roboto-Regular';
    font-size: 12px;
    margin: 5px;
    float: right !important;
  }
  .float-right {
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    background-color: white;
    border: 0.5px solid darkgray;
    padding: 4px 4px;
    float: right !important;
    margin: 2% !important;
    margin-bottom: 5% !important;
    margin-left: 5% !important;
    line-height: 1.42857143;
    user-select: none;
    font-weight: 700 !important;
    font-family: 'Roboto-Regular';
    font-size: 12px;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  .link-button {
    margin: 0 !important;
  }
  .fas {
    margin: 0 !important;
  }
  .far {
    margin: 0 !important;
  }
  .adj {
    margin: 0 !important;
  }
  body {
    font-size: 11.5px;
  }
  .backoffice__h1 {
    font-size: 18px;
  }
  .trr {
    padding: 15px;
    text-align: center;
  }
  .thh {
    text-align: center !important;
    padding: 0% 2%;
  }
}
