$primary: #762057;
$primary-light: #ebdde6;
$secoundary: #706259;
$complementary: #333333;
$header-back: #f2f2f2;
$card-bg: #ece8e1;
$card-text-selected: #414040;
$card-text: #c0c0c0;
$detail-gray: #474747;
$detail-back: #f8f8f8;
$gray: #707070;
$gray-medium: #9a9597;
$gray-light: #d8d2c4;
$registration-selection: #f8f8f8;
$white: #ffffff;
$white-table: #ececec;
$red: #e2080f;
$green: #0dcf8e;
$blue-light: #e4ecf0;
$blackp: #070000;
$BOButton: #6c757d;
$environment: #00ff0a;
$offers: #2176ed;
