.mobileBG {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 0;
    margin: 0;
    padding: 0;
  }
  
  .bowlMobile .fillMobile {
    width: 100%;
    height: 100vh;
    -webkit-transform: translateY(40vh);
    transition: all 0.5s ease;
  }
  
  .bowlMobile .waveShapeMobile {
    -webkit-animation-name: waveActionMobile;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -webkit-animation-duration: 0.7s;
  
    -moz-animation-name: waveActionMobile;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -moz-animation-duration: 0.7s;
  
    -o-animation-name: waveActionMobile;
    -o-animation-iteration-count: infinite;
    -o-animation-timing-function: linear;
    -o-animation-duration: 0.7s;
  
    animation-name: waveActionMobile;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 0.7s;
  
    width: 200vw;
    height: auto;
    fill: $primary;
    position: absolute;
  }
  
  @-webkit-keyframes fillActionStepOne {
    0% {
      -webkit-transform: translateY(100vh);
    }
    100% {
      -webkit-transform: translateY(40vh);
    }
  }
  
  @-webkit-keyframes waveActionMobile {
    0% {
      -webkit-transform: translateX(-100vw);
    }
    100% {
      -webkit-transform: translateX(0);
    }
  }
  