@font-face {
    font-family: Exo2;
    src: url('/public/fonts/Exo2-Light.ttf') format('ttf'),
         url('/public/fonts/Exo2-Light.otf') format('otf');
}
@font-face {
    font-family: Exo2;
    src: url('/public/fonts/Exo2-Bold.ttf') format('ttf'),
         url('/public/fonts/Exo2-Bold.otf') format('otf');
    font-weight: bold;
}

