
html {
  font-family: 'Exo 2', sans-serif;
}

.containerPerfil {
max-width: 100%;
}

.media-seleccionado {
width:100%;
background-color:#E9F1FF; 
margin-bottom: 5px; 
border-radius: 2px;
}

body {
  font-family: 'Exo 2', sans-serif;
}

.row-Select {
  flex-wrap: wrap;
  margin-right: 5px;
  margin-bottom: 5px;
  padding-right: 10px;
}


.headAmplio {
display: block;
}
.headChico {
display: none;
}

.btn {
  font-family: 'Exo 2', sans-serif;

}

.text-link-cast {
  color: #1f8089;
  text-align: center;
}

}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: 'Exo 2', sans-serif;
  font-weight: bolder;
}

.h5-naranja {
color: #FA6417;
}

.avatar {
  float: left;
  z-index: 20;
  margin-left: 15%;
}
.list-horizontal {
  display:inline;
  padding-left:10px;
  padding-right:3px;
}


.btn-nav {
  border-radius: 0.3rem !important;
  border: 0.125rem solid #A1A1A1 !important;
  color: #25B7AE;
  padding: 8px 8px!important;
  text-align: center;
  transition: 0.2s all ease-in;
  cursor: pointer;
  font-size: 13px!important;
  font-weight: bolder;
  margin: 0%;
}

.btn-elegir-modal {
  margin-top:-30px;
  padding-bottom: 7px;
  padding-top: 7px;

}

.btn-elegir {
  margin-bottom: 10px;
  font-size: 1rem;
  background: transparent linear-gradient(180deg, #3272D9 0%, #2BAAF0 100%) 0% 0% no-repeat padding-box; 

}

.btn-elegir-cancel {
  margin-bottom: 10px;
  font-size: 1rem;
  background: transparent linear-gradient(180deg, #FF2B24 0%, #E8330C 100%) 0% 0% no-repeat padding-box;
}

.input-form-pagos {
  color:white;
  margin: 10px 1px;
  margin-top: 10px;
  margin-right: 1px;
  margin-bottom: 10px;
  margin-left: 1px;
                                                    
}

.backgroundPagos {
  background-color:rgba(242,246,248,1);

}
.btn-elect {
  background: #25B7AE 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #a7a4a4;
  border-radius: 3px;
  opacity: 1;
  padding: 7px;
  padding-left: 12px;
  padding-right: 12px;
  margin: 3px;
}

.btn-nav-search {
  border-radius: 0.3rem !important;
  
  color: #25B7AE;
  padding: 8px 70px!important;
  text-align: center;
  transition: 0.2s all ease-in;
  cursor: pointer;
  font-size: 18px!important;
  font-weight: bolder;

}

.ul-foot {
  margin-left:-40px;
}

.btn-nav-foot {
  border-radius: 0.3rem !important;
  color: #25B7AE;
  padding: 8px 8px!important;
  text-align: center;
  transition: 0.2s all ease-in;
  cursor: pointer;
  font-size: 13px!important;
  font-weight: bolder;
  margin: 0%;
}


.nav-item-filtro {
  border-radius: 0.3rem !important;
  color: rgb(244, 245, 245);
  padding: 5px 5px!important;
  text-align: center;
  transition: 0.2s all ease-in;
  cursor: pointer;
  font-size: 13px!important;
  font-weight: bolder;
  width: 16%;
  margin: 3px;
}

.nav-item {
width:100%
}

.info-basica {
  background-color: #F2B859;
}

.nav-item-filtro:hover {
  background-color: #b3b3b3;
  box-shadow:#b3b3b3;
 }

 .searchFilter {
  background: rgb(252,193,25);
  background: linear-gradient(90deg, #F2B859 0%, rgb(175, 68, 22) 100%);
  padding: 3px;
 }

 .searchFilter:hover {
  background-color: #b3b3b3;
  box-shadow:#b3b3b3;
 }

.info-Talento {
  background-color: #F79938;
}

.info-Fenotipo {
  background-color: #E26D26;
}
.info-reset {
  color: #E26D26;
  font-size: 14px;
}

.info-Tallas {
  background-color: #C25628;
}

.info-Medidas {
  background-color: rgb(175, 68, 22);
}

.info-Media {
  background-color: #b3b3b3;
  box-shadow:#b3b3b3;
}

.menu-navegador {
  margin-top: 20px;
  width: 700px;
  margin-left: 20%;
}

.line-black {
  background-color: #464648;
  height: 0px;
  width: 100%;
  float: left;
  margin-top: -117px;
  z-index:-2;
  height: 48px;
}

.in-line-black {
    color: white;
    background-color: #464648;
    padding-left: 600px;
}

.icon-blanco {
    color: rgb(255, 255, 255);
}

.descrip-blanco {
  color: #1f8089
}

.flotante{
  left: 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 70px;
  background:#fff;
  text-align:center;
  display: none;
  z-index: 20 !important;
  }
.flotante-line{
  left: 0;
  margin-top: -10px;
  width: 100%;
  background-color: #464648;
  display: none;
  height: 0px;
  }
.flotante-in-line{
  margin-bottom: 30px;
      width: 100%;
      color: white;
      background-color: #464648;
      display: none;
      z-index: 20 !important;
   }

.bkg-ind {
  background-image: url("/img/Fondo Industria.jpg");
  background-size: cover;
  min-height: 700px;
}

.twoModels {
height: 150px;
}

#btnAmpliar .collapsed {
display: none;
}

#btnGuardar .collapsed {
display: none;
}




.dropdown-menu {
  display: none;
  padding: .3125rem 0;
  border: 0;
  background-color:#464648;
  color: white;
}

.dropdown-menu .dropdown-item, .dropdown-menu li>a {
  color: #fff;
}

.form-control, .is-focused .form-control {
background-image: linear-gradient(0deg, #fff 2px, #464648 0), linear-gradient(0deg, #d2d2d2 1px, hsla(0, 0%, 82%, 0) 0);
}

.bootstrap-select.btn-group .no-results {
padding: 3px;
background: #464648;
margin: 0 5px;
white-space: nowrap;
}

.bs-searchbox .form-control {
color: white;
}




@media (min-width: 576px){
.container {
  max-width: 100%; 
}}

@media (min-width: 768px){
.container {
 max-width: 100%;
}}

@media screen and (min-width: 992px) {
  .container {
     max-width: 100%;
  }
  .in-line-black {
      padding-left: 600px;
  }
  [class*=navbar-expand-]>.container,
  [class*=navbar-expand-]>.container-fluid {
      padding-left: 15px;
      padding-right: 15px
  }
  .dropdown-menu.show .dropdown-item.open+.dropdown-menu.show {
      right: 101%!important
  }
  .dropdown-menu.show .dropdown-item.open+.dropdown-menu.show .dropdown-item.open+.dropdown-menu,
  .dropdown-menu.show .dropdown-item.open+.dropdown-menu.show .dropdown-item.open+.dropdown-menu.show {
      left: -165px!important
  }
  .navbar .navbar-collapse .navbar-nav>li.button-container {
      padding: 15px
  }
  .navbar-collapse {
      position: fixed;
      display: block;
      top: 0;
      height: 100vh;
      width: 230px;
      right: 0;
      margin-right: 0!important;
      z-index: 1032;
      visibility: visible;
      background-color: #464648;
      overflow-y: visible;
      border-top: none;
      text-align: left;
      padding-right: 0;
      padding-left: 0;
      max-height: none!important;
      transform: translate3d(230px, 0, 0);
      transition: all .5s cubic-bezier(.685, .0473, .346, 1)
  }
  .navbar-collapse:after {
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      position: absolute;
      background-color: #464648;
      display: block;
      content: "";
      z-index: 1
  }
  .navbar-expand-lg .navbar-collapse {
    display: block;
    flex-basis: auto;
}
  .navbar-collapse .dropdown-toggle:after {
      position: absolute;
      right: 16px;
      margin-top: 8px
  }
  .navbar-collapse .navbar-nav {
      position: relative;
      z-index: 3
  }
  .navbar-collapse .navbar-nav .nav-item .nav-link {
      color: #A1A1A1;
      margin: 5px 15px
  }
  .navbar-collapse .navbar-nav .nav-item.active .nav-link,
  .navbar-collapse .navbar-nav .nav-item.active .nav-link:active,
  .navbar-collapse .navbar-nav .nav-item.active .nav-link:focus,
  .navbar-collapse .navbar-nav .nav-item.active .nav-link:hover {
      background-color: #464648;
      color: #A1A1A1
  }
  .navbar-collapse .navbar-nav .nav-item.button-container .nav-link {
      margin: 15px
  }
  .navbar-collapse .navbar-nav .nav-item:after {
      width: calc(100% - 30px);
      content: "";
      display: block;
      height: 1px;
      margin-left: 15px;
      background-color: #A1A1A1
  }
  .navbar-collapse .navbar-nav .nav-item:last-child:after {
      display: none
  }
  .nav-open .navbar-collapse {
      transform: translateZ(0)

  }
  .nav-open .navbar-translate {
      transform: translate3d(-230px, 0, 0)
  }
  .navbar .navbar-translate {
      width: 100%;
      position: relative;
      display: flex;
      -ms-flex-pack: justify!important;
      justify-content: space-between!important;
      -ms-flex-align: center;
      align-items: center;
      transition: transform .5s cubic-bezier(.685, .0473, .346, 1)
  }
  .navbar .dropdown.show .dropdown-menu {
      display: block
  }
  .navbar .dropdown .dropdown-menu {
      display: none
  }
  .navbar .dropdown-menu .dropdown-item {
      margin-left: 1.5rem;
      margin-right: 1.5rem
  }
  .navbar .dropdown .dropdown-menu,
  .navbar .dropdown.show .dropdown-menu {
      background-color: transparent;
      border: 0;
      padding-bottom: 15px;
      transition: none;
      box-shadow: none;
      transform: none!important;
      width: auto;
      margin-bottom: 15px;
      padding-top: 0;
      height: 300px;
      animation: none;
      opacity: 1;
      overflow-y: scroll
  }
  .navbar.navbar-transparent .navbar-toggler .navbar-toggler-icon {
      background-color: #464648
  }
  #bodyClick {
      height: 100%;
      width: 100%;
      position: fixed;
      opacity: 0;
      top: 0;
      left: auto;
      right: 230px;
      content: "";
      z-index: 1029;
      overflow-x: hidden
  }
  #navbar .navbar-collapse,
  #navigation .navbar-collapse {
      display: none!important
  }

}

@media (min-width: 1200px){
  .container {
     max-width: 100%;
  }
  .in-line-black {
    padding-left: 600px;
  }

  }

  @media (min-width: 1500px){
    .container {
       max-width: 100%;
    }
    .in-line-black {
      padding-left: 700px;
    }
  
    }

@media screen and (max-width: 992px) {
  .in-line-black {
      padding-left: 400px;
  }

  .avatar {
      float: left;
      z-index: 20;
      margin-left: 5%;
  }
    }
@media screen and (max-width: 772px) {
        .nav-item-filtro {
          width: 45%;
      }

      .menu-navegador {
          margin-top: 20px;
          width: 500px;
          margin-left: 5%;
      }

      .avatar {
          float: left;
          z-index: 20;
          margin-left: 1%;
      }
    }

@media screen and (max-width: 768px) {
          .in-line-black {
              padding-left: 250px;
          }

          .line-black {
              width: 100%;
            }

            .avatar {
              float: left;
              z-index: 20;
              margin-left: 1%;
          }
        }

@media screen and (max-width: 550px) {

          .menu-navegador {
              display: none;
            }
            .in-line-black {
              display: none;
          }
          .mini-screen {
              height: 100px;
          }
          .c-mini-name {
              font-size: 16px;
              padding-left: 10px;
          }
          .c-mini-subname {
              font-size: 15px;
              padding-left: 10px;
          }
          .descrip-blanco {
              color: white;
          }
          .flotante{
              display: block;
          }

          .flotante-line{
              display: block;
          }
          .gustorioDiv {
              display: none;
          }
          .flotante-in-line{
              display: block;
          }

          .div-pad {
              margin-left: -5%;
              margin-right: 10px;
          }

          .btn-nav-search {
            padding: 8px 4px!important;
          }

          .btn-elect {
            padding: 2px;
            padding-left: 3px;
            padding-right: 3px;
            margin: 3px;
          }

          .headAmplio {
            display: none;
            }
            .headChico {
              display: block;
            }
          
      }

/*-------------------------------------------------------------------------------------------------------------------------*/
.btn-animation-blue {
  -webkit-animation-name: first-animation; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 2.5s; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
  animation-name: first-animation;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes first-animation {
 0%   {
-webkit-box-shadow: 0px 0px 64px 5px rgba(91,143,225,0.22);
-moz-box-shadow: 0px 0px 64px 5px rgba(91,143,225,0.22);
box-shadow: 0px 0px 64px 5px rgba(91,143,225,0.22);
}
  20%  {
-webkit-box-shadow: 0px 0px 38px 5px rgba(91,143,225,0.43);
-moz-box-shadow: 0px 0px 38px 5px rgba(91,143,225,0.43);
box-shadow: 0px 0px 38px 5px rgba(91,143,225,0.43);
}
  35%  {
-webkit-box-shadow: 0px 0px 32px 5px rgba(91,143,225,0.6);
-moz-box-shadow: 0px 0px 32px 5px rgba(91,143,225,0.6);
box-shadow: 0px 0px 32px 5px rgba(91,143,225,0.6);
}
  45%  {
-webkit-box-shadow: 0px 0px 21px 5px rgba(91,143,225,0.8);
-moz-box-shadow: 0px 0px 21px 5px rgba(91,143,225,0.8);
box-shadow: 0px 0px 21px 5px rgba(91,143,225,0.8);
}
  55%  {
-webkit-box-shadow: 0px 0px 21px 5px rgba(91,143,225,0.8);
-moz-box-shadow: 0px 0px 21px 5px rgba(91,143,225,0.8);
box-shadow: 0px 0px 21px 5px rgba(91,143,225,0.8);
}
  65% {
-webkit-box-shadow: 0px 0px 32px 5px rgba(91,143,225,0.6);
-moz-box-shadow: 0px 0px 32px 5px rgba(91,143,225,0.6);
box-shadow: 0px 0px 32px 5px rgba(91,143,225,0.6);
}
  80% {
-webkit-box-shadow: 0px 0px 38px 5px rgba(91,143,225,0.43);
-moz-box-shadow: 0px 0px 38px 5px rgba(91,143,225,0.43);
box-shadow: 0px 0px 38px 5px rgba(91,143,225,0.43);
}
  100% {
-webkit-box-shadow: 0px 0px 64px 5px rgba(91,143,225,0.22);
-moz-box-shadow: 0px 0px 64px 5px rgba(91,143,225,0.22);
box-shadow: 0px 0px 64px 5px rgba(91,143,225,0.22);
}
   }

/* Standard syntax */
@keyframes first-animation {
  0%   {
-webkit-box-shadow: 0px 0px 64px 5px rgba(91,143,225,0.22);
-moz-box-shadow: 0px 0px 64px 5px rgba(91,143,225,0.22);
box-shadow: 0px 0px 64px 5px rgba(91,143,225,0.22);
}
  20%  {
-webkit-box-shadow: 0px 0px 38px 5px rgba(91,143,225,0.43);
-moz-box-shadow: 0px 0px 38px 5px rgba(91,143,225,0.43);
box-shadow: 0px 0px 38px 5px rgba(91,143,225,0.43);
}
  35%  {
-webkit-box-shadow: 0px 0px 32px 5px rgba(91,143,225,0.6);
-moz-box-shadow: 0px 0px 32px 5px rgba(91,143,225,0.6);
box-shadow: 0px 0px 32px 5px rgba(91,143,225,0.6);
}
  45%  {
-webkit-box-shadow: 0px 0px 21px 5px rgba(91,143,225,0.8);
-moz-box-shadow: 0px 0px 21px 5px rgba(91,143,225,0.8);
box-shadow: 0px 0px 21px 5px rgba(91,143,225,0.8);
}
  55%  {
-webkit-box-shadow: 0px 0px 21px 5px rgba(91,143,225,0.8);
-moz-box-shadow: 0px 0px 21px 5px rgba(91,143,225,0.8);
box-shadow: 0px 0px 21px 5px rgba(91,143,225,0.8);
}
  65% {
-webkit-box-shadow: 0px 0px 32px 5px rgba(91,143,225,0.6);
-moz-box-shadow: 0px 0px 32px 5px rgba(91,143,225,0.6);
box-shadow: 0px 0px 32px 5px rgba(91,143,225,0.6);
}
  80% {
-webkit-box-shadow: 0px 0px 38px 5px rgba(91,143,225,0.43);
-moz-box-shadow: 0px 0px 38px 5px rgba(91,143,225,0.43);
box-shadow: 0px 0px 38px 5px rgba(91,143,225,0.43);
}
  100% {
-webkit-box-shadow: 0px 0px 64px 5px rgba(91,143,225,0.22);
-moz-box-shadow: 0px 0px 64px 5px rgba(91,143,225,0.22);
box-shadow: 0px 0px 64px 5px rgba(91,143,225,0.22);
}
}
/*-------------------------------------------------------------------------------------------------------------------------*/
.btn-animation-red {
  -webkit-animation-name: second-animation; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 2.5s; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
  animation-name: second-animation;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes second-animation {
 0%   {
-webkit-box-shadow: 0px 0px 64px 3px rgba(255,50,14,0.22);
-moz-box-shadow: 0px 0px 64px 3px rgba(255,50,14,0.22);
box-shadow: 0px 0px 64px 3px rgba(255,50,14,0.22);
}
  20%  {
-webkit-box-shadow: 0px 0px 38px 3px rgba(255,50,14,0.43);
-moz-box-shadow: 0px 0px 38px 3px rgba(255,50,14,0.43);
box-shadow: 0px 0px 38px 3px rgba(255,50,14,0.43);
}
  35%  {
-webkit-box-shadow: 0px 0px 32px 3px rgba(255,50,14,0.6);
-moz-box-shadow: 0px 0px 32px 3px rgba(255,50,14,0.6);
box-shadow: 0px 0px 32px 3px rgba(255,50,14,0.6);
}
  45%  {
-webkit-box-shadow: 0px 0px 21px 3px rgba(255,50,14,0.8);
-moz-box-shadow: 0px 0px 21px 3px rgba(255,50,14,0.8);
box-shadow: 0px 0px 21px 3px rgba(255,50,14,0.8);
}
  55%  {
-webkit-box-shadow: 0px 0px 21px 3px rgba(255,50,14,0.8);
-moz-box-shadow: 0px 0px 21px 3px rgba(255,50,14,0.8);
box-shadow: 0px 0px 21px 3px rgba(255,50,14,0.8);
}
  65% {
-webkit-box-shadow: 0px 0px 32px 3px rgba(255,50,14,0.6);
-moz-box-shadow: 0px 0px 32px 3px rgba(255,50,14,0.6);
box-shadow: 0px 0px 32px 3px rgba(255,50,14,0.6);
}
  80% {
-webkit-box-shadow: 0px 0px 38px 3px rgba(255,50,14,0.43);
-moz-box-shadow: 0px 0px 38px 3px rgba(255,50,14,0.43);
box-shadow: 0px 0px 38px 3px rgba(255,50,14,0.43);
}
  100% {
-webkit-box-shadow: 0px 0px 64px 3px rgba(255,50,14,0.22);
-moz-box-shadow: 0px 0px 64px 3px rgba(255,50,14,0.22);
box-shadow: 0px 0px 64px 3px rgba(255,50,14,0.22);
}
   }

/* Standard syntax */
@keyframes second-animation {
  0%   {
-webkit-box-shadow: 0px 0px 64px 3px rgba(255,50,14,0.22);
-moz-box-shadow: 0px 0px 64px 3px rgba(255,50,14,0.22);
box-shadow: 0px 0px 64px 3px rgba(255,50,14,0.22);
}
  20%  {
-webkit-box-shadow: 0px 0px 38px 3px rgba(255,50,14,0.43);
-moz-box-shadow: 0px 0px 38px 3px rgba(255,50,14,0.43);
box-shadow: 0px 0px 38px 3px rgba(255,50,14,0.43);
}
  35%  {
-webkit-box-shadow: 0px 0px 32px 3px rgba(255,50,14,0.6);
-moz-box-shadow: 0px 0px 32px 3px rgba(255,50,14,0.6);
box-shadow: 0px 0px 32px 3px rgba(255,50,14,0.6);
}
  45%  {
-webkit-box-shadow: 0px 0px 21px 3px rgba(255,50,14,0.8);
-moz-box-shadow: 0px 0px 21px 3px rgba(255,50,14,0.8);
box-shadow: 0px 0px 21px 3px rgba(255,50,14,0.8);
}
  55%  {
-webkit-box-shadow: 0px 0px 21px 3px rgba(255,50,14,0.8);
-moz-box-shadow: 0px 0px 21px 3px rgba(255,50,14,0.8);
box-shadow: 0px 0px 21px 3px rgba(255,50,14,0.8);
}
  65% {
-webkit-box-shadow: 0px 0px 32px 3px rgba(255,50,14,0.6);
-moz-box-shadow: 0px 0px 32px 3px rgba(255,50,14,0.6);
box-shadow: 0px 0px 32px 3px rgba(255,50,14,0.6);
}
  80% {
-webkit-box-shadow: 0px 0px 38px 3px rgba(255,50,14,0.43);
-moz-box-shadow: 0px 0px 38px 3px rgba(255,50,14,0.43);
box-shadow: 0px 0px 38px 3px rgba(255,50,14,0.43);
}
  100% {
-webkit-box-shadow: 0px 0px 64px 3px rgba(255,50,14,0.22);
-moz-box-shadow: 0px 0px 64px 3px rgba(255,50,14,0.22);
box-shadow: 0px 0px 64px 3px rgba(255,50,14,0.22);
}
}